<div class="mx-auto p-6 bg-white rounded-xl shadow-md space-y-6">
  <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Реквизиты входящего документа.</h2>

  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Файл</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Рег. №</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Дата рег.</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">№ исх. док-та</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Дата исх. док-та</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Корреспондент</th>
          <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Тема</th>
          <th class="px-4 py-2 text-left"></th>
        </tr>
      </thead>
      <tbody *ngIf="documents.length > 0" class="divide-y divide-gray-200">
        <tr *ngFor="let document of documents"
            (dblclick)="onRowDoubleClick(document)"
            class="hover:bg-gray-50 cursor-pointer">
          <td class="px-4 py-2">
            <button *ngIf="document.fileUrl" (click)="viewFile(document.fileUrl)"
                    class="text-blue-600 hover:underline">
              Ko‘rish
            </button>
          </td>
          <td class="px-4 py-2">{{ document.registrationNumber }}</td>
          <td class="px-4 py-2">{{ document.registrationDate | date:'dd.MM.yyyy' }}</td>
          <td class="px-4 py-2">{{ document.outgoingNumber || '-' }}</td>
          <td class="px-4 py-2">{{ document.outgoingDate ? (document.outgoingDate | date:'dd.MM.yyyy') : '-' }}</td>
          <td class="px-4 py-2">{{ document.correspondent }}</td>
          <td class="px-4 py-2">{{ document.subject }}</td>
          <td class="px-4 py-2 text-right">
              <button (click)="printDocument(document)"
                      class="px-5 py-2 bg-blue-600 text-white text-sm rounded-full hover:bg-blue-700">
                Печать
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end mt-6">
    <a routerLink="/add" class="px-4 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700">
      Добавить
    </a>
  </div>
</div>
